:root{
    --color-main-green: #E49F37;
    --color-second-violet: #262B3E;
    --color-white: #ffff;
    --color-black: #000000;
    --font-1: 'Sarabun', sans-serif;
    --font-2: 'Prata', serif;
    --margin-mobile: 0px 20px 0px 20px;
    --margin-desktop: 0px 120px 0px 120px;
    
}

/*Reset*/

textarea{
    color: #fff!important;
}

.whatsappLogo img{
    
    background-color: #fff;
    border: solid white 2px;
    border-radius: 60%;
    width: 60px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
}



.loader{
    display: none;
    background-color: #007bff;
    opacity: 0.5;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.loader:hover{
    background-color: #007bff;
}

.remover{
    position: relative;
    font-size: 12px;
    margin: 0px;
    padding-left: 5px;
}

.padding-top-label{
    padding-top: 12px;
}


.animated-text{
    color: var(--color-second-violet);
    position: relative;
    max-width: 270px;
    background-color: var(--color-white);
    height: 48px;
    overflow: hidden;
    margin: 20px 0px 20px 0px;
}

.animated-text p{
   box-sizing: border-box;
}

  
  .line:first-child{
    animation: anim 15s infinite;
  }

  .line-4{
      font-size: 22px!important;
  }
  
  @keyframes anim {
    0%{
      margin-top: 5px;
    }
    10%{
      margin-top: 5px;
    }
    20%{
    margin-top: -35px;
    }
    30%{
      margin-top: -75px;
    }
    40%{
      margin-top: -130px;
    }

    50%{
        margin-top: -185px; 
    }

    60%{
        margin-top: -225px;  
    }

    70%{
        margin-top: -265px;  
    }

    80%{
        margin-top: -320px;  
    }

    100%{
        margin-top: 0px; 
    }

    
  }

  @keyframes fade-in-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  

  .fade-in-bottom {
	animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

  .fade-in-bottom-delay-1 {
	animation: fade-in-bottom 1.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

  .fade-in-bottom-delay-2 {
	animation: fade-in-bottom 1.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

  .fade-in {
	-webkit-animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
  

#show{
    display: block;
    width: 93%;
    margin-top: 10px;
}

.text-mi{
    border-color: #ff4757!important;
    background: #ffe0e3!important;
    color: #ff4757!important;
    margin-left: 4px;
    margin-right: 4px;
}

.loader {
    display: none;
    background-color: #007bff;
    opacity: 0.5;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    background-color: var(--color-white)!important;
}

.material-icons {
    font-display: swap;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }



html{
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    overflow-x: hidden;
}

/********************************************************CONTENT HEADER*********************************************/

header{
    font-family: var(--font-2);
}

.logo{
    width: 66px;
    position: relative;
   
}

.header{
    max-width: 1463px;
    height: 504px;
    background-color: var(--color-white);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    left: 0;
    right: 0;
    top: 0px;
    position: fixed;
    z-index: 3;
    transform: translateY(-1000px);
    padding: 29px;
}

.header a{
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--color-second-violet);
    font-display: swap;
}

.text-header{
    display: none;
}

.text-mobile{
    display: block;
    background-color: white;
    padding: 4px 5px 4px 5px;
    font-size: 27px;
    color: var(--color-second-violet);
    font-family: var(--font-2);
    font-display: swap;
    width: 100vw;
    position: relative;
    top: 96px;
    z-index: 2;
    margin: 0 auto;
    text-align: center;
}

.redes-mobile,.logo-mobile-menu{
    display: block;
}

.redes-mobile{
    background-color: var(--color-main-green);
    padding: 8px;
    width: 78vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-mobile p{
    font-family: var(--font-1);
    font-display: swap;
    font-size: 20px;
    margin: 0px;
}

.redes-mobile a{
   padding-right: 0px;
}


.menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu a:hover{
    color: var(--color-second-violet);
}

.hero-img-container{
    position: absolute;
    background-image: url("../img/Back&GradientMobile.png");
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 100%;
    top: 0;
    width: 100vw;
    height: 120vh;
    z-index: 0;
    
}
.text-content{
   position: relative;
   max-width: 520px;
 
}

.back{
    position: absolute;
    right: 0px;
    z-index: -10;
}

.back img{
   width: 25vw;
   height: 300vh;
}

.back2{
    position: absolute;
    top: 1400px;
    z-index: -10;
    left: 0px;
}

.back2 img{
    width: 35vw;
    height: 200vh;
}

.back2i{
    width: 50%;
}

.backi{
    width: 90%;
}

.text-content h1{
    width: 290px;
    font-family: var(--font-2);
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 121.02%;
    /* or 29px */
    color: var(--color-second-violet);
    margin-bottom: 8px!important;  
}

.text-content h2{
    width: 300px;
    font-family: var(--font-1);
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 121.02%;
    /* or 29px */
    color: var(--color-white);
    background-color: var(--color-second-violet);
    margin-bottom: 8px!important;
    padding: 5px 10px 5px 5px;
}

.text-content p{
    font-family: var(--font-1);
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 107.02%;
    /* identical to box height, or 26px */
    font-feature-settings: 'tnum' on, 'lnum' on, 'kern' off;
    color: var(--color-second-violet);
    background-color: var(--color-white);
    margin-top: 8px;
    margin-bottom: 8px!important;
    max-width: 300px;
    padding: 5px;
}

.text-content span{
    font-family:var(--font-1);
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 123.02%;
    /* or 17px */
    color: var(--color-second-violet);
    margin-top: 6px;
    
}

.text-card{
    margin-top: 20px;
    animation-delay: 0.3s;
}

.botones-container{
    margin-top: 8px;
}

.botones-container button{
    
    height: 40px;
    font-family: var(--font-1);
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 103.02%;
    cursor: pointer;
    padding: 0px;
    margin-bottom: 8px;
    
    
    
}

.botones-container button a{
    text-decoration: none;
    color: white;
    padding: 16px 32px 16px 32px;
}

.btn-consultar{
    border: 1px;
    background: transparent;
    background: var(--color-second-violet);
    transition: all 0.1s ease-in-out;
    

}

.btn-consultar:hover{
    background: transparent;
    border: 1px solid white;
    transition: all 0.1s ease-in-out;
    
}


.btn-consultar:hover .enlace-consultar{
       background: transparent;
}

.btn-servicios{
    background-color: transparent;
    border: 1px solid white;
    
}


.btn-servicios, .enlace-serv{
    padding-top: 0px;
    padding-bottom: 0px;
    transition: all 0.3s ease-in-out;
    
}


.btn-servicios:hover .enlace-serv{
    background-color: var(--color-white);
    color: var(--color-main-green);
    padding-bottom: 11px;
    padding-top: 11px;
    transition: all 0.3s ease-in-out;
}

.cuadrado-mitad{
    display: none;
    margin: var(--margin-mobile);
    position: relative;
    height: 100%;
    background: transparent;
    /*background: linear-gradient(141.9deg, #EEC14C 25.85%, #E7AD41 51.91%, #E39A34 73.04%, #D48528 91.06%);*/
    border-radius: 0px 0px 90px 0px;
    display: flex;
    align-items: center;
    padding-top: 20px;
    
}

.enlaces{
    padding-right: 20px;
}

.btn-cel{
    display: flex;
    justify-content: left;
    gap: 10px;
    align-items: center;
    padding-left: 6px;
    width: 137px;
    height: 41px;
    background: #E49F37;
    border-radius: 0px 0px 10px 0px;
    position: absolute;
    right: 9%;
    top: 102px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}

.btn-cel img{
    width: 21px;
    height: 21px;
}

.btn-cel p{
    margin-bottom: 0px;
    font-family: var(--font-1);
    font-display: swap;
    font-weight: bold;
    font-size: 13px;
}


/* FINAL CONTENT HEADER*/

/*******************************************NAV MOBILE************************************************/

.menu-abierto{
	transform: translateY(-70px);
	transition-timing-function: ease-in;
	transition: 0.5s;
 }
 
 .menu-cerrado{
	transform: translateY(-1000px);
	transition-timing-function: ease-in;
	transition: 0.5s;
 }

 #Capa_1{
     width: 50px;
     fill: var(--color-white);
 }

 .cls-2, .cls-3, .cls-4 {
    stroke: #fff!important;
    fill: var(--color-white);
}

 .header-footer-container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 96px;
    background-color: rgba(255, 255, 255, 0.95);
    padding: var(--margin-mobile);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(19px);
    background-color: var(--color-main-green);
    
}

.enlaces{
    display: none;
}

/*********************************SERVICIOS**************************************************************/

.img-card-desktop, .img-calculadora-desktop, .papel-desktop, .img-contrato-desktop{
    display: none;
}

.servicios-container{
    margin-top: 900px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: -99999999;
    
}

.servicios-container p, .texto-enlaces p{
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 103.02%;
    /* or 14px */
    color: var(--color-second-violet);
    font-display: swap;
}

.servicios-container h2, .texto-enlaces h2{
    font-family: var(--font-2);
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 117.02%;
    /* or 28px */
    color: #000000;
    margin-bottom: 30px;
}

.servicios-container ul {
    list-style-type: none;
    list-style: none;
    margin: 0 0 0 25px;
    padding: 0;
    text-indent: -1.6rem;

}

.servicios-container ul li{
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 103%;
    font-family: var(--font-1);
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    color: #838383;
}

.cardd{
    margin-bottom: 80px;
}

.cardd li::before{
    font-family: 'Material Icons';
    content: "\e86c";
    font-size: 20px;
    position: relative;
    top: 5px;
    margin-right: 6px;
    color: var(--color-main-green);
}

.img-card-mobile, .img-calculadora-mobile, .papel-mobile, .img-contrato-mobile{
    max-width: 100vw;
    min-width: 55vw;
}

.cardd p{
    font-family: var(--font-2);
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 103.02%;
    /* or 25px */
    color: #000000;
    margin-bottom: 10px;
}

.btn-consultar-card {
    height: 40px;
    font-family: var(--font-1);
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 103.02%;
    cursor: pointer;
    padding: 0px;
    margin-top: 15px;
    border: 0px;
}

.btn-consultar-card a{
    text-decoration: none;
    background-color: var(--color-main-green);
    color: var(--color-white);
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
}



/********************************* END SERVICIOS**************************************************************/

/********************************* QUIENES SOMOS**************************************************************/


.background-img{
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-image: url("../img/bg1-value.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.backgroud-container{
    margin: var(--margin-mobile);
    padding-top: 30px;
    padding-bottom: 30px;
}

.backgroud-container h2{
    text-align: center;
    font-family: var(--font-2);
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 103.02%;
    color: var(--color-white);
    
}

.backgroud-container p{
    font-family: var(--font-1);
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 153.02%;
    /* or 19px */
    text-align: center;
    color: var(--color-white); 
    
}

/********************************* END QUIENES SOMOS**************************************************************/
.bgc-form{
    background-color: var(--color-main-green);
}

#mi-row{
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 930px;
}

.text-area{
    border-radius: 5px;
    width: 100%;
    border: 1px solid #ced4da;
    
}

.btn{
    background-color: #262B3E!important;
    color: #fff!important;
}

.form{
    padding-top: 30px;  
}

.boton-enviar{
    display: flex;
    width: 100%!important;
    
}

.enviar{
    font-family: var(--font-1);
    font-display: swap;
    margin-top: 10px;
    width: 100%;
}

.texto-formulario{
    padding-top: 30px;
    padding-bottom: 30px;
}

.txt-contacto-1{
    animation-delay: 0.1s;
}

.txt-contacto-2{
    animation-delay: 0.2s;
}

.txt-contacto-3{
    animation-delay: 0.3s;
}




.texto-formulario p{
    font-family: var(--font-1);
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 103.02%;
    color: var(--color-second-violet);
}

.texto-formulario h2{
    font-family: var(--font-2);
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 103.02%;
    color: var(--color-white);
}

.texto-formulario h5{
    font-family: var(--font-1);
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 143.52%;
    color: var(--color-white);
}

.form-control, .text-area{
    background-color: transparent!important;
}

label{
    font-family: var(--font-1);
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.6);
}

input::placeholder { /* Most modern browsers support this now. */
   color: rgba(255, 255, 255, 0.374)!important;
}

.text-area:focus{
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.text-area::placeholder{
    padding-left: 5px;
}

.text-area{
    padding-left: 5px;
   color: white!important; 
}

input{
    color: white!important;
}

.g-recaptcha{
    margin: 10px 0px 0px 0px!important;
    transform: scale(0.83) translate(-22px);
    
}

.rc-anchor .rc-anchor-normal .rc-anchor-light{
    width: 255px!important;
}

/************************************FOOTER***************************************************/

.footer{
    background-color: var(--color-second-violet);
}

.menu-footer{
    padding-top: 30px;
    padding-bottom: 30px;
    margin: var(--margin-mobile);
    display: flex;
    flex-direction: column;
    justify-content: start;
    
}

.menu-footer a{
    font-family: var(--font-1);
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: var(--color-white);
    text-decoration: none;
    padding-bottom: 10px;
}

.logo-footer-1:nth-child(1){
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}


.logo-footer-2{
    display: none;
}

.links-interes-container{
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    display: grid;
    grid-gap: 1rem;
    justify-items: center;
    transition: transform .2s ease-in-out; /* Animation */
}

.links-interes-container a:hover{
   transform: scale(1.2);
   transition: transform .2s ease-in-out; /* Animation */

}

.icon {
   
    color: white;
    padding: 1rem;
    width: 150px;
    filter: brightness(0) saturate(100%) invert(12%) sepia(12%) saturate(2282%) hue-rotate(190deg) brightness(90%) contrast(54%);
}

.links-interes-container a{
     opacity: 0;
    
}

.links-interes-container a:first-child{
    animation-delay: 0.1s;
}

.links-interes-container a:nth-child(2){
    animation-delay: 0.2;
}

.links-interes-container a:nth-child(3){
    animation-delay: 0.3s;
}

.links-interes-container a:nth-child(4){
    animation-delay: 0.4s;
}

.links-interes-container a:nth-child(5){
    animation-delay: 0.5s;
}

.links-interes-container a:nth-child(6){
    animation-delay: 0.1s;
}

.links-interes-container a:nth-child(7){
    animation-delay: 0.2s;
}

.links-interes-container a:nth-child(8){
    animation-delay: 0.3s;
}



.icon-afip{
    width: 180px;
}

#minesterio-finanzas{
    width: 230px!important;
}
#banco{
    width: 300px!important;
}
#exportar, #ministerio{
    width: 220px;
    position: relative;
    top: -13px;
    
}

.container-enlaces{
    margin: var(--margin-mobile);
    padding-top: 60px;
    padding-bottom: 60px;
}

.texto-enlaces{
    text-align: center;
    padding-bottom: 30px;
}

.texto-enlaces-1{
    animation-delay: 0.1s;
}

.texto-enlaces-2{
    animation-delay: 0.3s;
}

@media (min-width: 600px){
    
    .line:first-child{
        animation: anim 10s infinite;
      }

    .text-content h1{
        font-size: 50px;
        width: 80vw;
    }

    .text-content p{
        font-size: 24px;
    }

    .animated-text{
        max-width: 300px;
    }

    #show{
      width: 81%;
    }

    @keyframes anim {
        0%{
          margin-top: 3px;
        }
        15%{
          margin-top: 3px;
        }
        25%{
          margin-top: -35px;
        }

        35%{
          margin-top: -80px;
        }
        45%{
          margin-top: -140px;
        }
        55%{
          margin-top: -190px;
        }
    
        65%{
            margin-top: -235px;  
        }
    
        75%{
            margin-top: -280px;   
        }

        85%{
            margin-top: -339px;  
        }

        
    
        100%{
          margin-top: 0;
        }
      }

      .links-interes-container{
        grid-template-columns:  60px 60px 60px;
        grid-column-gap: 35%;
        margin: var(--margin-desktop);
      }

      .links-interes-container a:nth-child(16){
        display: grid;
        grid-column-start: 1;
        grid-column-end: 1;
     }
 
     .links-interes-container a:nth-child(17){
         display: grid;
         grid-column-start: 3;
      }
  

      .text-mobile{
        font-size: 40px!important;
        
        
      }

     

}

@media (min-width: 800px){

    .text-mobile, .redes-mobile, .logo-mobile-menu{
        display: none;
    }

  
    .header-footer-container {
        position: relative;
        top: 0px;
        background-color: transparent;
        backdrop-filter: blur(0px);
        margin: var(--margin-desktop);
        padding: 0px;
        width: 100%;
    }

    .header-footer{
        display: none;
    }

    #Capa_1{
        width: 66px;
        position: relative;
        top: 10px;
    }


    .header{
        max-width: 1463px;
        height: 160px;
        background-color: var(--color-white);
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        left: 0;
        right: 0;
        top: 0px;
        position: relative;
        transform: translateY(0px);
    }

    .header h1{
        font-size: 29px;
        margin-bottom: 0px;
    }

    .header a  {
        font-size: 11px;
        color: var(--color-second-violet);
    }

    .text-header{
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 0px 110px 0px 110px;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    .text-header .logo-header{
        position: relative;
        top: 0px;
        /*        
        filter: invert(14%) sepia(24%) saturate(740%) hue-rotate(189deg) brightness(44%) contrast(94%);
        */
    }

    .text-header::after{
        width: 1112px;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        display: block;
        /*border-bottom: 1px solid var(--color-black);*/
        position: absolute;
        bottom: 72px;
       
    }

    .enlaces-redes a:first-child{
       padding-right: 0px;
    }

    .enlaces-redes a img{
        filter: invert(14%) sepia(24%) saturate(740%) hue-rotate(189deg) brightness(44%) contrast(94%);
    }

   

    
    .menu{
        display: flex;
        flex-direction: row;
        gap: 0px;
    }

    .enlaces{
        display: block;
    }

    .cuadrado-mitad{
        position: absolute;
        min-width: 715px;
        height: 100%;
        width: 50%;
        background: linear-gradient(141.9deg, #EEC14C 25.85%, #E7AD41 51.91%, #E39A34 73.04%, #D48528 91.06%);
        border-radius: 0px 0px 90px 0px;
        display: flex;
        align-items: center;
        margin: 0px;
        
    }

    .hero-img-container{
        position: absolute;
        background: url("../img/meet.png");
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 140%;
        background-color: var(--color-main-green);
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 0;
    }

    .text-content{
        padding-top: 93px;
        margin: var(--margin-desktop);
    }

    .text-content h1{
        font-size: 43px;

    }

    .text-content span{
        font-size: 18px;
        padding-bottom: 10px;
    }

    .p-servicios, .h2-servicios{
        text-align: center;
    }

    .h2-servicios{
        margin-bottom: 80px;
        animation-delay: 0.2s;
    }

    .servicios-container h2{
        font-size: 36px;
        margin-bottom: 30px;
    }

    .cardd{
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    .text-card{
        min-width: 365px;
        max-width: 500px;
    }

    .administracion-cons{
        position: relative;
        top: -39px;
    }

    .laboral-p, .sociedades{
        margin-top: 10px;
    }

    .cardd p{
        font-size: 48px;
        margin-bottom: 10px;
    }

    .cardd ul li{
        margin-bottom: 15px;
    }

    .administracion-cons-li li{
        margin-bottom: 5px!important;
    }

    .ul-sociedades li{
        margin-bottom: 6px!important;
    }

    .laboral-ul li{
        margin-bottom: 14px!important;
    }

    .img-card-mobile, .img-calculadora-mobile, .papel-mobile, .img-contrato-mobile{
        display: none;
    }

    .img-card-desktop, .img-calculadora-desktop, .papel-desktop, .img-contrato-desktop {
        display: block;
        max-width: 400px;
    }

    .backgroud-container h2{
        font-size: 36px;
        padding-bottom: 30px;
    }

    /****************************************QUIENES SOMOS****************************************************/

        
    .background-img{
        width: 100%;
        height: 540px;
    }

    .servicios-container{
        margin-top: 500px;
        padding-left: 120px;
        padding-right: 120px;
    }

   
    .backgroud-container{
        margin: var(--margin-desktop);
    }

    

    .logo{
        top: -155px;
        position: absolute;
    }

    .menu-footer{
        margin: var(--margin-desktop);
        padding-top: 75px;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }

    .logo-footer-1{
        display: none;
    }

    .logo-footer-2{
        display: block;
        position: relative;
        top: -44px;
    }

    .border-footer-container{
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
    }

    .border-l{
        border: 1px solid rgba(184, 182, 182, 0.562);
        width: 600px;
     
    }

    .after-footer{
        padding-right: 45px;
        display: flex;
        justify-content: center;
        background-color: var(--color-second-violet);
        color: #fff;
        font-size: 14px;
    }

    .form-container{
        padding-top: 80px;
        padding-bottom: 80px;
        height:800px;
    }

    .back2i{
        width: 90%;
    }

    .logo-container{
        display: flex;
        justify-content: center;
    }

    .logo-container img{
        position: relative;
        top: 40px;
        right: 15px;
    }

    .g-recaptcha {
        margin: 10px 0px 0px 0px!important;
        transform: scale(1) translate(0px);
    }

    .recaptcha-error{
        position: relative;
        left: 58px;
    }
    

    

}

@media (min-width: 1000px){

    .header a{
        font-size: 14px;
    }

    .header h1{
        font-size: 45px;
    }
    .texto-formulario{
        width: 700px;
        margin-right: 20px;
    }

   

    .form-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        height:580px;
        margin: var(--margin-desktop);
        
    }

    .links-interes-container{
        margin: var(--margin-desktop);
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 3%;
    }

    .links-interes-container a:nth-child(16){
       display: grid;
       grid-column-start: 2;
       grid-column-end: 2;
    }

    .links-interes-container a:nth-child(17){
        display: grid;
        grid-column-start: 4;
     }
 

    .texto-enlaces{
        
        margin: var(--margin-desktop);
    }

    .enlaces-texto p{
        font-family: var(--font-1);
        font-display: swap;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 103.02%;
        color: var(--color-second-violet);
    }

    #show{
        width: 79%;
    }

   
    
    
}






